@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  min-height: 100vh;
  background: transparent !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



::selection {
  background: #bfdbfe; /* Soft blue highlight instead of harsh blue */
  color: #1e3a8a;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; /* Makes fonts look sharper on Mac */
}

@layer base {
  input, select, textarea {
    @apply text-slate-900 font-medium !important;
  }
  
  /* This makes the placeholder slightly lighter but still visible */
  input::placeholder {
    @apply text-slate-400 opacity-100 !important;
  }
}